.btn2{
    
    position: absolute;
    top: 5px;
    right: 5px;	
    max-width:60px;
    max-height:20px;
    width: auto;
    height: auto;
    padding-bottom: 10px;
  }

  .popup{
    position:  fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 400px;
    height: 200px;
    padding: 25px;
    border: solid 2px #fa0000;
    background: #ee676767;
  }